// Audience
.audience {
    height: 1808px;
    background-color: rgba(0, 161, 198, 0.07);
    &__content {
        padding-top: 50px;
        text-align: center;
        margin: 0 15px;
    }
    &__topic {
        width: 290px;
        height: 34px;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        display: inline-block;
        margin-bottom: 17px;
    }
    &__title {
        width: 290px;
        height: 80px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.3px;
        margin: auto;
        margin-bottom: 18px;
    }
    &__description {
        width: 290px;
        height: 136px;
        font-size: 24px;
        line-height: 34px;
        margin: auto;
        margin-bottom: 30px;
    }
    &__learn-more-btn {
        width: 100%;
        color: #000000;
        background-color: #fff;
        height: 48px;
        font-size: 18px;
        line-height: 13px;
        font-weight: 700;
        border-radius: 2px;
        border: none;
        margin-top: 12px;
        margin-bottom: 40px;
    }
    &__images {
        margin: 0 15px;
    }
}

.audience-images {
    &__img {
        width: 138px;
        height: 195px;
        margin-top: 22px;
    }
    &__img-wrapper {
        margin: auto;
        margin-bottom: 15px;
        width: 290px;
        height: 300px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }
    &__img-wrapper:nth-child(2) {
        box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
    }
}

h5 {
    width: 250x;
    height: 28px;
    font-size: 22px;
    line-height: 28px;
    margin: 22px 20px 33px 20px;
}

.audience-images__entertainment {
    color: #ffffff;
}

@media screen and (min-width: 1400px) {
    // Audience
    .audience {
        height: 983px;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 108px;
            text-align: center;
            padding-top: 0;
        }
        &__topic {
            text-align: center;
            font-size: 22px;
            line-height: 34px;
            font-weight: 700;
            margin-bottom: 24px;
        }
        &__title {
            width: 555px;
            height: 112px;
            font-weight: 700;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
            margin-bottom: 34px;
        }
        &__description {
            height: 72px;
            font-size: 24px;
            line-height: 34px;
            width: 555px;
            margin: 0;
            margin-bottom: 34px;
        }
        &__actions {
            display: flex;
        }
        &__button {
            width: 160px;
        }
        &__learn-more-btn {
            width: 158px;
            margin-left: 10px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .audience-images {
        display: flex;
        margin-top: 111px;
        &__img-wrapper {
            width: 262px;
            margin-right: 30px;
        }
        &__img-wrapper:last-child {
            margin-right: 0;
        }
    }
}