.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &__description {
        display: none;
        width: 360px;
        line-height: 26px;
        font-size: 18px;
        margin-top: 26px;
        color: rgba(43, 41, 45, 0.6);
    }

    &__line {
        border-top: 1px solid #2B292D;
        width: 100%;
        opacity: 0.1;
        margin: 0;
        margin-top: 40px;
    }
}

.about-company {
    margin-top: 48px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.downloads {
    display: flex;
    justify-content: center;
    margin: 31px 15px 0 15px;

    &__item {
        margin-right: 10px;
    }
}

.additional-navigation {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;

    &__column {
        margin-top: 30px;
    }
}

.nav-links {
    width: 265px;

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color: #2B292D;
        margin: 0;
    }

    &__list {
        list-style-type: none;
        font-size: 18px;
        line-height: 30px;
        color: rgba(43, 41, 45, 0.6);
        padding: 0;
        margin: 0;
        margin-top: 18px;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.terms {
    line-height: 22px;
    font-size: 14px;
    margin-top: 30px;

    &__items {
        text-decoration: none;
        color: rgba(43, 41, 45, 0.6);
        margin-right: 22px;
    }
}

.social-links {
    margin-top: 30px;
    margin-bottom: 23px;

    &__item {
        margin-left: 20px;
    }

    &__item:first-child {
        margin-left: 0;
    }
}

.logo-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        width: 60px;
        height: 60px;
        border-radius: 14px;
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        margin-top: 20px;
    }

    &__description {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: rgba(43, 41, 45, 0.6);
    }
}

.footer .logo {
    display: none;
}

@media screen and (min-width: 1400px) {
   
    .footer-navigation {
        display: flex;
        flex-direction: row;
        width: 1140px;
        margin: 0 auto;
        height: 338px;
    }
    
    .downloads {
        margin: 0;
        margin-top: 25px;
        justify-content: left;
    }
   
    .additional-navigation {
        flex-direction: row;
        margin-top: 60px;
        margin-left: auto;
        
        &__column {
            margin-top: 0;
            margin-right: 29px;
        }
    }
   
    .footer__line {
        margin: 0;
    }
    
    .footer-links {
        flex-direction: row;
        height: 50px;
        align-items: center;
        width: 1140px;
        margin: 0 auto;
    }
   
    .terms {
        line-height: 50px;
        margin-top: 0;
    }
   
    .social-links {
        margin-left: auto;
        margin-bottom: 30px;
    }
    
    .footer .logo-vertical {
        display: flex;
        flex-direction: row;
    }
   
    .footer__description {
        display: block;
    }
   
    .logo-vertical__text {
        margin-left: 15px;
    }
   
    .logo-vertical__name {
        text-align: left;
        margin: auto;
    }
}